@model casestudy0707.Models.StudentDb

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentDb</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rno" class="control-label"></label>
                <input asp-for="Rno" class="form-control" />
                <span asp-validation-for="Rno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScienceMark" class="control-label"></label>
                <input asp-for="ScienceMark" class="form-control" />
                <span asp-validation-for="ScienceMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MathsMark" class="control-label"></label>
                <input asp-for="MathsMark" class="form-control" />
                <span asp-validation-for="MathsMark" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
